@model IEnumerable<TaskManagerGC.Models.User>

@{
    ViewData["Title"] = "Welcome To Task Manager!";
}

<h1>@ViewData["Title"]</h1>
<br />
<h3>Select A User To View Available Tasks...</h3>
 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td> 
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Go To Tasks</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
